<footer class="innerFooter pt-5">
    <div class="container text-white">
        <div class="row">
            <div class="col-md-4">
                <h3>Location</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4">
                <h3>AROUND THE WEB</h3>
                <ul class="list-unstyled d-flex justify-content-between w-50 ">
                    <li><i class="ms-4 faw fa-brands fa-facebook d-flex justify-content-center align-items-center"></i></li>
                    <li><i class="ms-4 faw fa-brands fa-twitter d-flex justify-content-center align-items-center"></i></li>
                    <li><i class="ms-4 faw fa-brands fa-linkedin d-flex justify-content-center align-items-center"></i></li>
                    <li><i class="ms-4 fa-solid fa-globe d-flex justify-content-center align-items-center"></i></li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <h3>ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
    <div class="bg-dark m-0 text-white text-center py-3">
        <p>Copyright © Your Website 2021</p>
    </div>
</footer>
